.item-proyect {
    width: 280px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 0px 0px;
    border-radius: 12px;
}

.item-proyect--white {
    box-shadow: 1px 1px 1px 2px rgb(0 0 3 / 8%);
}

.item-proyect .content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 60%;
    width: 100%;
    padding: 5px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.item-proyect .content--white {
    border-top: solid 2px #c1d6ffa1;
}

.item-proyect p {
    color: black;
    line-height: normal;
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto";
}

.item-proyect img {
    min-height: 130px;
    width: 220px;
    height: auto;
    object-fit: cover;
    padding: 40px 0px;
}

.item-proyect .paragraphs {
    height: 80%;
}

.item-proyect a {
    align-self: flex-start;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
}

.a {
    align-self: flex-start;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
    /* display: none; */
}


/*dark mode */

.item-proyect .content--dark {
    border-top: solid 2px darkslategrey;
}

.item-proyect--dark {
    background: rgb(0 243 187 / 1%);
    box-shadow: 0px 0px 10px -3px rgb(255 255 255 / 10%);
}

.item-proyect--dark p {
    color: rgba(255, 255, 255, 0.89);
    line-height: normal;
    margin: 10px;
    font-size: 16px;
    font-weight: 450;
    font-family: "Roboto";
}

.item-proyect--dark .paragraphs {
    height: 80%;
}

.item-proyect--dark a {
    align-self: flex-start;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
}