.jobs {
    display: block;
    min-height: 400px;
    margin:auto;
    align-items: center;
    margin-bottom: 100px;
}

  
.list-works{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 28px;
    justify-content: center;
    grid-gap:40px;  
}