.container-img {
  display: flex;
  padding: 35px 5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-item {
  width: 250px;
  margin: 30px 15px;
  border-radius: 15px;
}
@media (min-width: 700px) {
  .container-img {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
