.header-app {
  display: flex;
  min-height: 340px;
  max-width: 1440px;
  margin: auto;
  /* margin-top: 100px; */
  margin-bottom: 100px;
  flex-direction: column;
}

.header--title {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: 500;
  margin-bottom: 1em;
}

.header--paragraph {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .header-app {    
    flex-direction: row;
    align-items: center;
  }
  .header-app__item {
    width: 50%;
    display: flex column;
  }
}
