html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  line-height: 1;
  font-family: 'Roboto';
  background-color: #141414;
  color: #fff;
  font-family: 'Inter', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* background: red; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #fff;
}

/* init custom */
/* GENERAL */
.layout {
  padding: 0px 32px;
  box-sizing: border-box;
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  background-color: #141414;
}
.layout main {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.upperCase {
  text-transform: uppercase;
}

.text-seccond {
  color: rgba(255, 255, 255, 0.6);
}

.text-slide {
  animation: moveTop 2005ms infinite;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.fade-in-text {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.fade-in-image {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 54px;
}
.header h2 {
  font-size: 24px;
  font-weight: 550;
}

/* navbar */
.navbar ul {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 80px;
  box-sizing: border-box;
  justify-content: space-between;
  text-transform: uppercase;
}
.navbar ul li {
  cursor: pointer;
}
.navbar .text-line::after {
  content: '';
  position: relative;
  top: 12px;
  display: block;
  width: 100%;
  max-width: 152px;
  background-color: rgba(255, 255, 255, 0.692);
  height: 1px;
  transition: ease-out 1s;
}

.line-effect::after {
  top: -10px !important;
  /* transform: translate(704.5px, 42.4px); */
  background-color: blue;
}

/*--------------------------------- TEXT-ANIMATION SLIDE--------------------------------------*/

.container-lineUp {
  height: 24px;
  width: fit-content;
  display: inline-block;
  overflow: hidden;
}
.lineUp {
  animation: 8s moveTopScroll infinite;
}
.text-slide--top {
  font-size: 24px;
  font-weight: 550;
  animation: 2s moveTopEffect infinite;
}

/* --------------------------------- PRESENTATION ------------------------------------- */
.presentation {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.presentation header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.presentation section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
}
.presentation section img {
  order: 1;
  justify-content: flex-end;
  position: relative;
  left: 20px;
  bottom: 32px;
  width: 45%;
  max-width: 400px;
  min-width: 250px;
  filter: saturate(0);
}
.presentation section div {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  min-width: 250px;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
}
.presentation section div h5 {
  font-weight: 600;
}

.presentation header h3 {
  font-size: 38px;
  font-weight: 600;
}
.presentation header h4 {
  font-size: 19px;
  font-weight: 600;
}
/* portfolio */
.portfolio {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  gap: 40px;
}
.portfolio header {
  max-width: 1200px;
  gap: 12px;
}
.portfolio header h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}
.portfolio header h6 {
  font-size: 14px;
  text-align: end;
  font-weight: 600;
}
.portfolio .list {
  display: flex;
  margin: auto;
  width: 100%;
  flex-direction: column;
  gap: 100px;
}
/* --------------------------ITEM-PORTFOLIO-----------------}} */
.item-portfolio {
  width: 100%;
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  justify-content: space-around;
  transition: all 1s;
  padding-bottom: 50px;
  border-bottom: solid rgb(228, 225, 225) 1px;
}
.item-portfolio div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  /* width: 100%; */
  font-size: 16px;
  gap: 4px;
}
.item-portfolio img {
  width: 230px;
}

.item-portfolio .container-anchor {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container-anchor a span {
  width: 50px;
  display: block;
  position: relative;
  transition: 300ms all;
  color: rgb(0, 255, 157);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  animation: 2s moveXShort infinite ease-in-out;
}

.container-anchor h4 {
  display: block;
  width: fit-content;
  font-size: 38px;
  font-family: ui-monospace;
  margin-bottom: 12px;
  transition: all 1s;
}
.item-portfolio:hover {
  opacity: 0.8;
}
.item-portfolio a:hover,
.item-portfolio a span:hover {
  color: aqua;
}
/* curses */
.curses {
  /* background: red; */
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.curses .ul-curses {
  display: flex;
  min-height: 50vh;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.curses ul li {
  display: block;
}
.curses ul li img {
  width: 230px;
  border-radius: 4px;
  filter: saturate(0.7);
  transition: all 500ms;
}
.curses ul li img:hover {
  filter: saturate(1);
  transform: scale(1.2);
}
.curses h3 {
  font-size: 30px;
  text-align: start;
  font-weight: 600;
}
/* footer */
.footer {
  padding: 80px 0px;
}
.footer .frase {
  max-width: 400px;
  font-size: 30px;
  font-weight: 700;
  margin: 120px 0px;
}
.footer ul {
  display: flex;
  flex-direction: column;
}

.footer ul li {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: linear 1s;
  border-bottom: solid 2px gray;
}
.footer ul li:hover {
  cursor: pointer;
  background: #010001;
}
.footer ul li:first-child {
  border-top: solid 2px gray;
}

/*-------------------------- media querys----------------------------------- */
@media (min-width: 768px) {
  .presentation header h3 {
    font-size: 80px;
  }
  .presentation header h4 {
    font-size: 34px;
  }
  .presentation section div {
    order: 0;
    max-width: 50%;
    font-size: 24px;
  }
  .curses ul li img{
    width: 280px;
  }
  .portfolio header h3 {
    font-size: 60px;
  }
  .portfolio header h6 {
    font-size: 30px;
  }
  .curses h3 {
    font-size: 60px;
  }
  .footer ul {
    flex-direction: row;
  }
  .footer ul li {
    border-top: solid 2px gray;
  }
}

/* ----------------------------ANIMATIONS--------------------------------- */
@keyframes moveTopScroll {
  25% {
    transform: translateY(-0px);
  }
  50% {
    transform: translateY(-24px);
  }
  75% {
    transform: translateY(-48px);
  }
  100% {
    transform: translateY(-72px);
  }
}
@keyframes moveTopEffect {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveXShort {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(14px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
